/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : http://www.pluxml.org
#
# Package:		theme.css
# Copyright (c) 2014 PluXml
# Authors		Jos
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/

body {
	background-color: #222;
}
.header {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.header h1 a:hover {
	text-decoration: none;
}
.nav {
	height: 2.25rem;
}
.nav .menu.expanded li:hover {
	background-color: #555;
}
.nav a {
	color: #eee;
}
@media (max-width: 767px) {
	.nav {
		background-color: #fff;
		border-bottom: 1px solid #bbb;
		height: auto;
		left: 0;
		max-height: 200px;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}
	.nav .menu.expanded li:hover {
		background-color: #ddd;
	}
	.nav a {
		color: #846637;
	}
	.nav a:hover {
		color: #444;
	}
	.responsive-menu label {
		background-color: #222;
	}
	.header {
		margin-top: 2rem;
	}
}

.repertory {
	margin-top: 2rem;
}
.article header h1 {
	font-size: 1.8rem;
	font-weight: bold;
        padding-left:1rem;
}
.article header h1 a {
	color: #444;
}
.article header h1 a:hover {
	color: #846637;
	text-decoration: none;
}
#form {
	width: 65%;
}
.comment {
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	padding-left: 4rem;
}
.comment blockquote {
	margin: 0;
}
.nbcom {
	background-color: #846637;
	color: #fff;
	padding: .2rem .3rem;
}
.nbcom:hover {
	background-color: #bd934f;
	color: #fff;
	text-decoration: none;
}
.capcha-letter,
.capcha-word {
	font-weight: bold;
}
.capcha-word {
	background-color: #ccc;
	letter-spacing: 0.3em;
	padding: .525rem .7rem;
}
.article,
.pagination {
	margin-bottom: 4rem;
}
.article.static {
	margin-bottom: 0;
}
.pagination a {
	background-color: #846637;
	color: #fff;
	padding: .525rem .7rem;
}
.pagination a:hover {
	background-color: #bd934f;
	color: #fff;
	text-decoration: none;
}
.pagination span:first-letter,
.pagination a:first-letter {
	text-transform: uppercase;
}
.p_first,
.p_prev,
.p_current,
.p_next,
.p_last {
	display: inline-block;
}



.aside li:first-letter {
	text-transform: uppercase;
}
.aside ul.tag-list {
	list-style-type: none;
	padding-left: 1rem;
}
.aside ul.tag-list li {
	display: inline-flex;
	padding-right:1rem;
}
.aside ul.tag-list li.tag-size-1 {
	font-size: 1rem;
}
.aside ul.tag-list li.tag-size-2 {
	font-size: 1.1rem;
}
.aside ul.tag-list li.tag-size-3 {
	font-size: 1.2rem;
}
.aside ul.tag-list li.tag-size-4 {
	font-size: 1.3rem;
}
.aside ul.tag-list li.tag-size-5 {
	font-size: 1.4rem;
}
.aside ul.tag-list li.tag-size-6 {
	font-size: 1.5rem;
}
.aside ul.tag-list li.tag-size-7 {
	font-size: 1.6rem;
}
.aside ul.tag-list li.tag-size-8 {
	font-size: 1.7rem;
}
.aside ul.tag-list li.tag-size-9 {
	font-size: 1.8rem
}
.aside ul.tag-list li.tag-size-10 {
	font-size: 1.9rem;
}
.aside ul.tag-list li.tag-size-max {
	font-size: 2rem;
}
.aside {
color: #EEE;
}
.aside .static.group {
font-weight : bold; 
color : #EEE; 
}
.aside .static.menu {
font-weight : bold; 
color : #101; 
}

.aside h3 {
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	padding: 0.5em;
	text-transform: uppercase;
	color:#EEE;
	background-color: #4b3a1f;
	border-bottom: 1px solid #bd934f;
	border-top: 1px solid #bd934f;
}

.aside ul {
	margin: 0;
	padding: 0 0 0 1em;
}

.aside a {
color: #EEE;
display:block;
text-decoration:none;
}

.aside ul.tag-list li a{
	display: inline-flex;
}

.aside a:hover {
background-color: #bd934f;
}

.aside a.active, .aside li.active{
background-color: #846637;
	padding: 0 0 0 1em;
}

.aside div{
border-top: 1px solid #666;
}


section{
background-color: #FFF;
padding: 1em;
}

.footer {
	padding: 2rem 0;
	text-align: center;
}
.footer p {
	margin: 0;
	text-align: center;
}

.footer ul {
	margin: 0;
	text-align: center;
}

.article{
    border-bottom:1px solid #000;
}
.src{
color:#DCDCCC;
background-color: #3f3f3f;
}