
body {
font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #FFF;
  margin:auto;
  padding: 1em 0 0 0;
  background: #161410;
}

img {
  max-width: 100%;
}

#content {
  border: 1px dotted #666;
  border-radius: 3em;
  padding: 0.5em;
  margin: 1.5em ;
  overflow: auto;
  position:relative;
}

h2, h3, h4, h5, h6 {
  background-color:#bd934f;
  border: 1px;
  color: #161410;
  width: 100%;
  margin-left: 2em;
  margin-right: 0.25em;
  padding-left: 1em;
}

#nav-link {
  margin: auto;
  max-width: 100%;
  padding: 1em;
  text-align: center;
}

table {
margin:1em;
padding:1em;
width:100%;
clear:both;
}

.link {
  font-size: .9em;
  float: right;
  border: 1px dotted #666;
  padding: .3em;
}

input[type=text], input[type=password], textarea{
  border: 1px solid #bd934f;
  margin: .2em 0;
  padding: .2em;
  font-size: 1em;
  width:100%;
}

a:active, a:visited, a:link {
  text-decoration: underline;
  color: #d8d7d3;
}

a:hover {
  text-decoration: none;
}

pre {
    border: 1pt solid #363430;
    background-color: #1b1814;
    padding: 5pt;
    font-family: courier, monospace;
    font-size: 90%;
    overflow:auto;
}

.title  { text-align: center; color:#bd934f;}

kbd
{
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}
/*org-export-html-style-default

  .todo   { color: red; }
  .done   { color: green; }
  .tag    { background-color: #add8e6; font-weight:normal }

  p.verse { margin-left: 3% }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .right  {margin-left:auto; margin-right:0px;  text-align:right;}
  .left   {margin-left:0px;  margin-right:auto; text-align:left;}
  .center {margin-left:auto; margin-right:auto; text-align:center;}

  table { border-collapse: collapse; }
  td, th { vertical-align: top;  }
  th.right  { text-align:center;  }
  th.left   { text-align:center;   }
  th.center { text-align:center; }
  td.right  { text-align:right;  }
  td.left   { text-align:left;   }
  td.center { text-align:center; }
  dt { font-weight: bold; }
  div.figure { padding: 0.5em; }
  div.figure p { text-align: center; }
  div.inlinetask {
    padding:10px;
    border:2px solid gray;
    margin:10px;
    background: #ffffcc;
  }
  textarea { overflow-x: auto; }
  .linenr { font-size:smaller }
  .code-highlighted {background-color:#ffff00;}
*/

/*org-export-html-style-default*/

@media (max-width: 750px) {
 body{
  width:100%;
  height:100%;
 }
}