
body
{
   padding:0;
   margin:0;
   font-family: Arial;
   font-size:12px;
}

hr
{
   border:none;
   background:transparent;
   color : #f5f8fb;
}

pre
{
   margin:20px;
   padding-bottom:5px;
   padding-left:10px;
}

pre img
{
   margin-top:10px;
   margin-bottom:-10px;
   border:none;
}

a
{
    color:#4444ff;
    text-decoration:none;
}

a:hover
{
    text-decoration:underline;
}
