        <ol class='xoxo'>
        <li>1er cas : changer un lien</li>
        <li>Idem mais un peu plus à changer</li>
        <li>Supprimer une ligne dans un tableau, utilisation de macros
        <ol>
        <li>Enregistrement de la première macro</li>
        <li>Appliquer la première macro dans tous les fichiers</li>
        </ol>
        </li>
        </ol>
