
// * {border:1px solid;}

table,  textarea
{
    width:100%;
}
td.tag, td.cal{
    text-align:right;
    width:1px;
}

div.headline 
{
    display:inline;
}
div.headline:focus
{
    outline: 1px solid red;
}



/*
.content
{
    display:none;
}
*/
.acacher
{
    display:none;
}

